.catalogItem {
  width: 100%;
  display: flex;
  font-family: Roboto, sans-serif;
  justify-content: space-between;
  text-decoration: none;
  color: gray;
  transition: color 0.3s ease;

  &:hover {
    color: black;
  }
}
